{% extends "default.html" %}
{% block title %}Scientific papers{% endblock %}
{% block contents %}

    <div class="container">

        <div class="row">

            <div class="col-lg-12">
                <h1 class="page-header">Journal papers
                </h1>
                <ol class="breadcrumb">
                    <li><a href="index.html">Home</a>
                    </li>
                    <li>Science
                    </li>
                    <li class="active">Journal papers</li>
                </ol>
            </div>

        </div>

    </div>
    <!-- /.container -->

    <div class="container">
        {% for item in papers %}
        <div class="row well">
            <div class="col-lg-1 col-md-1">
                <a href="{{ item.href }}"><img class="img-responsive" src="{{ item.img }}"></a>
            </div>
            <div class="col-lg-8 col-md-8">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ loop.index }}">
                    <h4><b>{{ loop.index }}.</b> {{ item.title }}</h4>
                </a>
                <div id="collapse{{ loop.index }}" class="collapse">
                    <p>{{ item.abstract }}</p>
                </div>
                {{ item.author }}.<br>{{ item.journal }} <b>{{ item.volume }}</b>, {{ item.pages }} ({{ item.year }}).
            </div>
            <div class="col-lg-3 col-md-3">
                <a class="btn btn-md btn-primary pull-right" href="{{ item.href }}">Read from publisher</a>
            </div>
        </div>
        <!-- /.row -->
        {% endfor %}
    </div>
    <!-- /.container -->
{% endblock %}
