{% extends "default.html" %}
{% block title %}Ensino{% endblock %}
{% block contents %}

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Ensino
                </h1>
                <ol class="breadcrumb">
                    <li><a href="/index.html">Home</a>
                    </li>
                    <li class="active">Ensino</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- /.container -->

    <div class="container">
        {% for item in courses %}
        <div class="row well">
            <div class="col-lg-1 col-md-1">
                <a href="{{ item.href }}"><img class="img-responsive" src="{{ item.img }}"></a>
            </div>
            <div class="col-lg-8 col-md-8">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ loop.index }}">
                    <h4>{{ item.title }}</h4>
                </a>
                <div id="collapse{{ loop.index }}" class="collapse">
                    <p>{{ item.abstract }}</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3">
                <a class="btn btn-md btn-primary pull-right" href="{{ item.href }}">Acessar</a>
            </div>
        </div>
        <!-- /.row -->
        {% endfor %}
    </div>
    <!-- /.container -->
{% endblock %}
