{% extends "default.html" %}
{% block title %}Ensino{% endblock %}
{% block contents %}
    <div class="container">

        <!-- Contents -->

        <div class="col-md-8">
            <h2> Em construção </h2>
            <p>Para verificar as notas nos exercícios escolares, favor utilizar a busca ao lado.</p>
        </div>

        <div class="col-md-4">
            <div class="well">
                <!-- Search form -->
                <h4>Resultados de avaliações</h4>
                <div class="input-group">
                    <input type="text" class="form-control" id="cpfID" placeholder="Insira seu CPF">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button" onclick="listVerify()"><i class="fa fa-search fa-fw fa-fh"></i></button>
                    </span>
                </div>
                <!-- /.input-group -->
            </div>

            <div class="well" id="listVerifyResult">
            </div>

        </div>

    </div>
    <!-- /.container -->
{% endblock %}
{% block javascript %}
    <script src="js/jquery.maskedinput.min.js"/></script>
    <script src="js/sha1.js"/></script>
    <script src="js/listVerify.js"/></script>
    <script src="exc2db.json"/></script>
{% endblock %}
