{% extends "default.html" %}
{% block title %}Under construction{% endblock %}
{% block contents %}
    <div class="container">

        <div class="row">

            <div class="col-lg-12">
                <h1 class="page-header">Under construction
                    <small>This page is still under development. Please return later.</small>
                </h1>
            </div>

        </div>

        <div class="row">

            <div class="col-lg-12">
                <img class="img-responsive" src="img/empire_state_worker.jpg">
            </div>

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
{% endblock %}
