{% extends "default.html" %}
{% block title %} Useful stuff {% endblock %}
{% block contents %}
    <div class="container">

        <div class="row">

            <div class="col-lg-12">
                <h1 class="page-header">Useful stuff
                </h1>
                <ol class="breadcrumb">
                    <li><a href="index.html">Home</a>
                    </li>
                    <li>Useful stuff</li>
                </ol>
            </div>

        </div>

        <div class="row">
            <div class="col-lg-6">
                <a class="twitter-timeline" href="https://twitter.com/amaral_am/lists/divulgacao-2" data-widget-id="481892440190627840">Tweets from https://twitter.com/amaral_am/lists/divulgacao-2</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </div>
            <div class="col-lg-6">
                <a class="twitter-timeline" href="https://twitter.com/amaral_am/lists/fomento" data-widget-id="481890885051756544">Tweets from https://twitter.com/amaral_am/lists/fomento</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </div>
        </div>

{% endblock %}
